@media screen and (max-width: 450px) {
  .static {
    max-width: 80%;
    height: auto;
    margin-top: 17vh;
  }

  .spin-left,
  .spin-right {
    max-width: 70%;
    height: auto;
    margin-top: 6.3vh;
  }
}
